/* 
    Document   : mycss
    Created on : 8/06/2013, 09:43:46 AM
    Author     : RobertoCarlos
    Description:
        Purpose of the stylesheet follows.
*/

.mydesing{
    border: solid 2px #333;
    background-color: #0008cc;
    color: #e9322d;
    font-size: 20px;
    margin: 0 auto 0 auto;
    width: 1200px
}

